.new-tweet {
  border-radius: 4px;
  padding: 0px 8px 40px 8px;
}

.new-tweet h2 {
  border-bottom: 2px solid;
  margin-top: 15px;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

textarea {
  padding: 5px;
  width: 100%;
  height: 90px;
  outline: none;
  border-bottom: solid 2px black;
  background: transparent;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  float: left;
}

form {
  display: block;
  padding: 10px;
  position: relative;
}

label {
  float: left;
}

.invalid {
  color: red;
}

p.errMsg {
    margin: 20px;
    color: #c51244;
    padding: 2px;
    border: thick double #c51244;
    display: inline;
}

.new-tweet form div {
  padding-top: 7px;
}